<ion-view view-title="Ringtones">
    <ion-content>
        <div ng-hide="!showMask" class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="searchtxt.$" placeholder="Search">
            </label>
            <button ng-click="searchtxt=''" class="button button-clear">
                Cancel
            </button>
        </div>

        <ion-list>
            <div class="card" ng-hide="showMask">
                <div class="item item-text-wrap">
                    <h1>Loading latest ringtones... </h1>
                </div>
            </div>
            <a class="item item-icon-left" ng-repeat="playlist in playlists | filter:searchtxt:strict" href="#/app/playlists/{{playlist.name}}">
                <i class="icon ion-music-note"></i> {{playlist.name}}
                <span class="item-note"> <!-- Grammy --> </span>
            </a>
        </ion-list>
    </ion-content>
</ion-view>