<ion-view view-title="Ringtones">
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="searchtxt.$" placeholder="Search">
            </label>
            <button ng-click="searchtxt=''" class="button button-clear">
                Cancel
            </button>
        </div>

        <ion-list>
            <h2 ng-hide="showMask">Loading latest ringtones... </h2>
            <a class="item item-icon-left" ng-repeat="playlist in playlists | filter:searchtxt:strict" href="#/app/playlists/{{playlist.name}}">
                <i class="icon ion-music-note"></i> {{playlist.name}}
                <span class="item-note"> <!-- Grammy --> </span>
            </a>
            <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.name}}">
                {{playlist.name}}
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>